<ion-view view-title="Other Taxi Apps">
  <ion-content id="otherapps">
    <div class="list">

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/easytaxi.png">
        <h2>Easy Taxi</h2>
        <p>Taxi Requests in 420 cities</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/easy-taxi-free-taxi-app/id567264775">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=br.com.easytaxi">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right item-stable">
        <img src="img/apps/flytaxi.png">
        <h2>Fly Taxi</h2>
        <p>Taxi Requests with 10,000 active drivers</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/flytaxi-hktaxi-hong-kong-call/id787091892">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.flytaxi.hktaxi">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/calltaxi.png">
        <h2>HKTaxi</h2>
        <p>Taxi Requests, but Android is only in Chinese</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/hktaxi-xiang-gangcall-shiapp/id660232595">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.cornermation.calltaxi">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right item-stable">
        <img src="img/apps/kuaidi.png">
        <h2>Kuaidi</h2>
        <p>Taxi Requests in Hong Kong & China, but only in Chinese</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/kuai-da-che-chu-zu-che-zhuan/id551963288">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.funcity.taxi.passenger">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/uber.png">
        <h2>Uber</h2>
        <p>Car Requests, all around the globe</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/uber/id368677368">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.ubercab">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right item-stable">
        <img src="img/apps/kuaidione.png">
        <h2>Kuaidi One</h2>
        <p>Car Requests in Hong Kong & China</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/kuaidione/id789653936">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.duoduo.passenger">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/gogovan.png">
        <h2>GoGoVan</h2>
        <p>Van Requests for moving cargo</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/gogovan/id708390467">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=hk.gogovan.GoGoVanClient2">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right item-stable">
        <img src="img/apps/lalamove.png">
        <h2>LaLaMove (EasyVan)</h2>
        <p>Van Requests for moving cargo</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/lalamove-by-easy-van/id735701965">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=hk.easyvan.app.client">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/carsharehk.png">
        <h2>Car Share HK</h2>
        <p>Peer-to-Peer Car Rentals</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/carshare-hk/id787088520">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.wusi.carshare">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right item-stable">
        <img src="img/apps/translator.png">
        <h2>Hong Kong Taxi Translator</h2>
        <p>Finding and translating addresses into written Chinese and phonetic Cantonese</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/hong-kong-taxi-translator/id438401655">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.chromeinfotech.hktaxitranslator">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/livetraffic.png">
        <h2>Live Traffic Hong Kong</h2>
        <p>Traffic web cams for commuters in Hong Kong</p>
        <a class="button button-positive" target="_blank" href="https://itunes.apple.com/hk/app/traffic-hong-kong/id668358101">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="https://play.google.com/store/apps/details?id=com.roar.liveTraffic.liveTrafficHKFree">
          <i class="icon ion-social-android"></i>
        </a>
      </div>

      <!--
      <div class="item item-thumbnail-left item-button-right">
        <img src="img/apps/.png">
        <h2></h2>
        <p></p>
        <a class="button button-positive" target="_blank" href="">
          <i class="icon ion-social-apple"></i>
        </a>
        <a class="button button-balanced" target="_blank" href="">
          <i class="icon ion-social-android"></i>
        </a>
      </div>
       -->

    </div>
  </ion-content>
</ion-view>
