<ion-view view-title="Feedback">
  <ion-content id="feedback" class="padding">
    <img src="img/feedback.png">
    <p>I'm eager to hear what you think about the app, especially if you have a brilliant idea to make it better or found a glaring mis-translation or bug.</p>
    <p>Please keep in mind that this is just a beta release and many of the markers are not in the exactly right place.  They'll be fixed as soon as possible.</p>
    <a class="button button-block button-positive" href="mailto:ryan.sl.carpenter@gmail.com?subject=HK Taxi Stands">
      Email the Developer
    </a>
  </ion-content>
</ion-view>
