<ion-view view-title="HK Taxi Stands">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon {{visibleTypes}}" id="type_toggle"     ng-click="typeSelectionModal.show()"></button>
    <button class="button button-icon {{language}}"     id="language_toggle" ng-click="toggleLanguage()">
      <span ng-if="script=='english'">中文</span>
      <span ng-if="script!='english'">Eng</span>
    </button>
  </ion-nav-buttons>

  <ion-content scroll="false">

    <ui-gmap-google-map center='map.center' zoom='map.zoom' pan='true' options='map.options' events='{click:hide_details}'>
      <ui-gmap-markers models="markers" coords="'location'" icon="'icon'" click="show_details"></ui-gmap-markers>
      <ui-gmap-marker coords="map.currentPos.coords" options="map.currentPos.options" events="map.currentPos.events" idKey="map.currentPos.id" icon="map.currentPos.icon"></ui-gmap-marker>
    </ui-gmap-google-map>

    <div id="detail" class="{{show_detail}}">
      <button class="button icon ion-android-locate" ng-click="center_map()"></button>
      <a class="button icon ion-android-walk" href="{{detail.directions}}" target="_blank" ng-click="record_directions()"></a>
      <div class="title {{detail.category}}" ng-click="expand_details()" on-drag-up="expand_details()" on-drag-down="hide_details()">
        <h1>{{detail.name}}</h1>
        <p>{{detail.district}} | {{detail.longcat}}</p>
      </div>
      <div class="row" on-drag-down="hide_details()">
        <p>{{detail.description}}</p>
        <span class="item-note" style="float:right;">{{detail.hours}}</span>
      </div>
      <div class="row" on-drag-down="hide_details()">
        <img src="{{detail.image}}" />
      </div>
    </div>

  </ion-content>


  <script id="type-selection-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title" ng-if="script=='english'">Taxi Stands to Display</h1>
        <h1 class="title" ng-if="script=='chinese'">的士站上顯示</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list" id="type_selector">

          <a class="item item-icon-left item-icon-right" href="#" ng-click="displayType('urban')">
            <i class="icon hts-type urban"></i>
            <span ng-if="script=='english'">Urban Taxi Stands (excluding cross-harbour)</span>
            <span ng-if="script=='chinese'">市區的士站 (不包括海底)</span>
            <i class="icon" ng-class="{'ion-checkmark':visibleTypes=='urban'}"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#" ng-click="displayType('newterr')">
            <i class="icon hts-type newterr"></i>
            <span ng-if="script=='english'">New Territories Taxi Stands</span>
            <span ng-if="script=='chinese'">新界的士站</span>
            <i class="icon" ng-class="{'ion-checkmark':visibleTypes=='newterr'}"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#" ng-click="displayType('lantau')">
            <i class="icon hts-type lantau"></i>
            <span ng-if="script=='english'">Lantau Island Taxi Stands</span>
            <span ng-if="script=='chinese'">大嶼山的士站</span>
            <i class="icon" ng-class="{'ion-checkmark':visibleTypes=='lantau'}"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#" ng-click="displayType('cross')">
            <i class="icon hts-type cross"></i>
            <span ng-if="script=='english'">Cross-Harbour Taxi Stands</span>
            <span ng-if="script=='chinese'">海底的士站</span>
            <i class="icon" ng-class="{'ion-checkmark':visibleTypes=='cross'}"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#" ng-click="displayType('all')">
            <i class="icon hts-type all"></i>
            <span ng-if="script=='english'">All Taxi Stands</span>
            <span ng-if="script=='chinese'">每的士站</span>
            <i class="icon" ng-class="{'ion-checkmark':visibleTypes=='all'}"></i>
          </a>

        </div>
      </ion-content>
    </ion-modal-view>
  </script>

</ion-view>
